@import './base.css';

#app {
  width: 960px;
  height: 674px;
  background-color: rgb(45 76 83);
  display: flex;
  margin: auto;
  border-radius: 1%;
  flex-direction: column;
}

.btn-med {
  font-weight: bold;
  color: white;
  background-color: #1ea3de;
  border-width: 2px;
  border-color: white;
  font-size: 16px;
  padding: 6px;
  margin-top: 20px;
}